<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css"/>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
<!--                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">-->
<!--                    <h1 class="h3 mb-0 text-gray-800" style="font-weight: bold;">Data Town Dashboard</h1>-->
<!--                </nav>-->
                <!-- End of Topbar -->

                <!-- container-fluid 시작 -->
                <div class="container-fluid"  style="padding-left: 100px; padding-right: 100px">

                    <!-- 워드클라우드 Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800" style="font-weight: bold;">워드클라우드</h1>
                    </div>
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h5>키워드: 빅데이터</h5>
                    </div>

                    <!-- 워드클라우드 Content Row 시작-->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <div class="card shadow mb-4">

                                <!--card header 시작-->
                                <div class="card-header py-3 d-flex flex-row align-items-center">
                                    <h6 class="m-0 font-weight-bold text-primary">연도별</h6>
                                    <button type="button" class="btn btn-primary ml-3" id="2016-button">2016</button>
                                    <button type="button" class="btn btn-success ml-3" id="2017-button">2017</button>
                                    <button type="button" class="btn btn-primary ml-3" id="2018-button">2018</button>
                                    <button type="button" class="btn btn-success ml-3" id="2019-button">2019</button>
                                    <button type="button" class="btn btn-primary ml-3" id="2020-button">2020</button>
                                    <button type="button" class="btn btn-success ml-3" id="2021-button">2021</button>
                                    <button type="button" class="btn btn-primary ml-3" id="2022-button">2022</button>
                                </div>
                                <!--card header 끝-->

                                <!--card body 시작-->
                                <div class="card-body">
                                    <div class="text-center">
                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" id="2016_nouns"
                                             src="http://3.35.139.16:5000/img/2016_nouns.png"/>
                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" id="2017_nouns"
                                             src="http://3.35.139.16:5000/img/2017_nouns.png"/>
                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" id="2018_nouns"
                                             src="http://3.35.139.16:5000/img/2018_nouns.png"/>
                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" id="2019_nouns"
                                             src="http://3.35.139.16:5000/img/2019_nouns.png"/>
                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" id="2020_nouns"
                                             src="http://3.35.139.16:5000/img/2020_nouns.png"/>
                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" id="2021_nouns"
                                             src="http://3.35.139.16:5000/img/2021_nouns.png"/>
                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" id="2022_nouns"
                                             src="http://3.35.139.16:5000/img/2022_nouns.png"/>
                                    </div>
                                </div>
                                <!--card body 끝-->
                            </div>
                        </div>
                    </div>
                    <!-- 워드클라우드 Content Row 끝-->

                </div>
                <!-- container-fluid 끝-->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Data Town 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!--    아래와 같이 필요한 library(script)를 import 해야 사용할 수 있다-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/sb-admin-2.min.js"></script>
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
    <script src="js/chart-job.js"></script>
    <script src="js/chart-trend.js"></script>
    <script src="js/chart-wordcloud.js"></script>
    <script src="js/chart-competition.js"></script>

</body>
</html>