{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
<!--      <tr>-->
<!--        <th><input type="checkbox"></th>-->
        <th>9COM</th>
        <th>Description</th>
        <th>Long Text Description</th>
        <th>Commodity</th>
      </tr>
    </thead>
    <tbody>
      {% for json_data in json_data %}
<!--        <tr>-->
<!--          <td><input type="checkbox"></td>-->
          <td>{{ json_data['9COM']}}</td>
          <td>{{ json_data['Description'] }}</td>
          <td>{{ json_data['Long Text Description'] }}</td>
          <td>{{ json_data['Commodity'] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable();
    });
  </script>
{% endblock %}